html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.background-dark {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 60px;
}

.hero {
  display: flex;
  justify-content: space-around;  
  height: 480px;
}

.information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 480px;
}

.header-content,
.hero-content,
.information-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0 16px;
}

.information-content {
  flex-direction: column;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.hero-left {
  padding: 16px;
  margin-right: 16px;
  height: 320px;
}

.header-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 32px;
}

.header a,
.hero-left p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0 0 16px;
}

.hero-left p {
  margin: 0 0 16px;
}

.hero-left button {
  background-color: #3882F6;
  box-shadow: none;
  border: none;
  padding: 12px 36px;
  font-size: 18px;
  color: #E5E7EB;
  font-weight: bold;
  border-radius: 8px;
}

.hero-image {
  background-color: #677379;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #E5E7EB;
  height: 320px;
  width: 640px;
  flex-shrink: 0;
  border-radius: 8px;
}

.information-content h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  margin: 0 0 32px;
}

.illustration-subsection {
  width: 160px;
}

.illustration-subsection p {
  text-align: center;
  font-size: 18px;
  color: #475568;
  margin: 8px 0 0;
}

.illustration {
  border: 4px solid #3882F6;
  width: 160px;
  height: 160px;
  border-radius: 16px;
}

.illustrations {
  display: flex;
  justify-content: space-around;
  gap: 64px;
}