body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.background-dark {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 60px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header a {
  font-size: 18px;
  color: #E5E7EB;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0 16px;
}

.header-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 32px;
}